<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-3 sidenav">
			<h2>User info</h2>
			<label class="control-label sr-only" for="inputEmail">Name</label>
				<%= form_for(@user) do |f| %>
				<h4>Name</h4>
				<%= t.string_area :name %>
			<div class="form-group has-icon">
				<%= attachment_image_tag @user, :profile_image, :fill,60,60, class: "img-circle pull-left profile-thumg", fallback: "no_image.jpg" %>
			</div>
			<label class="control-label sr-only" for="inputEmail">ProfileImage</label>
			<%= f.attachment_image_tag @user, :profile_image, placeholder: "user info" %>
		    </div>
				<h4>Introduction</h4>
				<%= f.text_area :introductio %>

				<%= f.submit 'Update User' %>
				<%end%>
			</div>
		</div>
	</div>